html, body {
	height: 100%;
}

body {
	min-height: 100%;
}

.banner {
	border-top: 5px solid $green;
	display: flex;
	flex-direction: column;

	.home & {
		height: 100%;
		position: relative;
		justify-content: space-between;

		background: url('../img/bkg/bkg-home-1.jpg');
		background-size: cover;
		background-position: 50%;


		&:after {
			content: "";
			display: block;
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			z-index: 0;
			background: url('../img/bkg/bkg-header.png');
		}
	}
}

.prehead {

	order: 2;

	width: 100%;
	left: 0;
	right: 0;

	.home & {
		// position: absolute;
		// width: 100%;
		z-index: 2;
		order: 0;
		position: fixed;
		top: 0;
	}

	.container {
		display: table;

		& > div {
			display: table-cell;
			vertical-align: middle;

			&:nth-child(2) {
				display: none;
				text-align: right;

				@include breakpoint(tablet) {
					display: block;
				}
			}
		}
	}

	ul {		
		list-style: none;
		padding: 0;
		margin: 12px 0;
		display: inline-block;
		vertical-align: middle;

		&:before {			
			content: "";
			width: 1px;
			height: 22px;
			background: $blue;
			display: inline-block;
			margin: 0 10px;

			.home & {
				background: $white;
			}
		}
	}

	li {
		width: 22px;
		display: inline-block;
		margin: 0 5px;

		&:last-child {
			margin-right: 0;
		}

		a {
			display: block;

			&:hover .style0 {
				fill: $blue;

				.home & {
					fill: $white;
				}
			}
		}
	}

	p {
		display: inline-block;
		margin: 12px 0;
		@include fw(semibold);
		color: $gray;
		text-transform: uppercase;
		@include rem(font-size, 14px);
		transition: all 0.3s ease-in-out;

		.home & {
			color: $blue;
		}
	}

	svg {
		width: 100%;
		height: 100%;
		display: block;
	}

	.style0 {
		fill: $green;
		transition: all .3s ease-in-out;

		.home & {
			fill: $blue;
		}
	}

	.access {
		@include fw(semibold);
		color: $gray;
		text-transform: uppercase;
		font-style: italic;
		@include rem(font-size, 14px);
		transition: all 0.3s ease-in-out;

		display: block;
		text-align :center;
		padding: 12px 0;

		@include breakpoint(tablet) {
			display: inline-block;;
			text-align: left;
			padding: 6px 6px 6px 0;
		}

		.home & {
			color: $blue;
		}
	}

	&.prehead-fixed {
		position: fixed;
		top: 54px;
		z-index: 2;
		background: $white;

		ul:before {
			background: $blue;
		}

		.style0 {
			fill: $green;
		}

		li a:hover .style0 {
			fill: $blue;
		}

		p, .access {
			color: $gray;
		}
	}
}

.brand {
	// display: flex;
	// flex-direction: column;
	// align-items: center;
	// justify-content: center;
	// height: 100%;
	z-index: 1;
	margin: 50px auto;

	a {
		margin: 0 auto;
		width: 80%;
		max-width: 300px;
		display: block;
		@include breakpoint(tablet) {
			width: 300px;
		}

		svg {
			width:100%;
			margin: 0 auto;
			height:100%;
			display: block;
			@include breakpoint(tablet) {
				width:300px;
				height: 92px;
			}
		}
	}

	.home & {
		height: 100%;
		display: flex;
		align-items: center;
		margin: 0 auto;
	}

	.home & a {
		max-width: 400px;

		@include breakpoint(tablet) {
			width: 400px;
		}

		svg {
			@include breakpoint(tablet) {
				width:400px;
				height: 122px;
			}
		}
	}
}



/*
// Navbar.
*/

.x-navbar-wrap {
	z-index: 2;
	width: 100%;
	background: $white;
}

.x-navbar {
	left: 0;
	right: 0;
	overflow: visible;
	background: $white;
	z-index:1030;
	transform:translate3d(0, 0, 0);
	height: 54px;

	.single-nos-references & .x-nav .active a:before {
		width: 0;
		left: 50%;
	}

	.single-nos-references & .x-nav .active {
		display: none;

		@include breakpoint(tablet) {
			display: block;
		}
	}

	.single-nos-references & .x-nav .parent-active {
		display: inline-block;

		@include breakpoint(tablet) {
			display: block;
		}
	}

	.single-nos-references & .x-nav .active a:hover:before {
		width: 100%;
		left: 0;
	}
}

.x-navbar-inner {
	border-bottom: 1px solid $green;

	h2 {
		display: none;
	}
}

.x-navbar .x-brand {
	width: 50px;
	z-index: 10;
	float:left;
	display:inline-block;

	svg {
		width: 50px;
		display: block;
		height: 100%;
		margin: 7px 0;
	}
}

.x-navbar .x-nav {
	position: relative;

	@include breakpoint(tablet) {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}

	.active a:before, .parent-active a:before {
		width: 100%;
		left: 0;
	}

	li {
		height: 54px;
		text-align: center;
		@include rem(line-height, 54px);
	}
}

.x-navbar .x-nav > li > a {
	position: relative;
	display: inline-block;
	height: 54px;
	@include rem(line-height, 32px);
	padding: 12px;
	text-transform: uppercase;
	// text-align: center;
	@include fw(semibold);
	@include rem(font-size, 14px);

	@include breakpoint(tablet) {
		@include rem(font-size, 12px);
	}

	@include breakpoint(biggie) {
		@include rem(font-size, 14px);
	}

	&:before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 50%;
		width: 0;
		height: 5px;
		background: $green;
		transition: all 0.3s ease-in-out;
	}

	&:hover {
		text-decoration: none;
	}

	&:hover:before {
		width: 100%;
		left: 0;
	}
}

.x-navbar-fixed-top {
	position: fixed;
	top: 0;
	bottom: auto;
	z-index:1030;
	left:0;
	right:0;
}

.x-nav-collapse {
	margin-left: 50px;
}
.x-nav-collapse.collapse {
	position:relative;
	transition: height 0.3s ease;
	height:auto;
	overflow:visible;
}
.x-nav-collapse.collapse.in {
	height:auto;
}


.x-btn-navbar {
	display:none;
}

@media (max-width: 719px) {
	.x-navbar {
		height: auto;
	}
	.x-navbar .x-brand svg {
		margin: 0;
	}
	.collapse {display: none; visibility: hidden;}
	.collapse.in {display: block; visibility: visible;}
	.collapsing {position: relative; height: 0; overflow: hidden; transition: all .35s ease;}
	.x-nav-collapse{display:block;clear:both; margin: 0;}
	.x-nav-collapse .x-nav{float:none;}
	.x-nav-collapse,.x-nav-collapse.collapse{overflow:hidden;height:0}
	.x-btn-navbar{
		// padding:0.458em 0.625em;
		@include rem(font-size, 2rem);
		@include rem(line-height, 3rem);
		height: 54px;
		line-height: 54px;
		text-align: right;
		&:hover {
			text-decoration: none;
		}
	}
	.x-navbar-inner > div {
		display: table;
		width: 100%;
	}
	.x-navbar-inner > div > h2, .x-navbar .x-brand, .x-btn-navbar  {
		display: table-cell;
		float: none;
		vertical-align: middle;
		width: 25%;
		height: 54px;
	}

	.x-navbar-inner > div > h2 {
		width: 50%;
		text-align: center;
		line-height: 0;

		span {
			position: relative;
			height: 100%;
			padding: 12px;
			text-transform: uppercase;
			text-align: center;
			@include fw(semibold);
			@include rem(font-size, 14px);
			color: $blue;
			font-family: $baseFontFamily;
			font-style: normal;
			display: inline-block;
			height: 54px;
			@include rem(line-height, 32px);

			&:before {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 5px;
				background: $green;
				transition: all 0.3s ease-in-out;
			}
		}
	}
}

[class^="x-icon-"],[class*=" x-icon-"]{display:inline-block;font-family:"fontawesome";font-style:normal;font-weight:normal;text-decoration:inherit;-webkit-font-smoothing:antialiased;speak:none}
[class^="x-icon-"]:before,[class*=" x-icon-"]:before{speak:none;line-height:1}
a [class^="x-icon-"],a [class*=" x-icon-"]{display:inline-block}
.nav [class^="x-icon-"],.nav [class*=" x-icon-"]{display:inline;margin-right:0.5em}
li [class^="x-icon-"],li [class*=" x-icon-"],.nav li [class^="x-icon-"],.nav li [class*=" x-icon-"]{display:inline-block;width:1.25em;text-align:center}
.x-icon-bars:before{content:"\f0c9"}
@font-face{font-family:'fontawesome';src:url("../fonts/font-awesome.eot?v=4.0.3");src:url("../fonts/font-awesome.eot?#iefix&v=4.0.3") format("embedded-opentype"),url("../fonts/font-awesome.woff?v=4.0.3") format("woff"),url("../fonts/font-awesome.ttf?v=4.0.3") format("truetype"),url("../fonts/font-awesome.svg?#fontawesome&v=4.0.3") format("svg");font-weight:normal;font-style:normal}

