/* STRUCTURE */
.container {
	width: 90%;
	margin: 0 auto;
	@include breakpoint(biggie) {
		width: $pageWidth;
	}
}

.blue {
	background: $blue;
	color: $white;

	h1 {
		color: $white;
	}

	a {
		color: $green;

		&:hover {
			color: $green;
		}
	}
}

.green {
	background: $green;

	h2 {
		color: $white;
	}
}

/* MAIN */
.main {

}

/* SIDEBAR */
.sidebar {

}

/****************************************
PAGE TEMPLATES
*****************************************/

/* Home Page */
.home {

}

/* Blog Page */
.blog {
	
}
